<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center">
      <div class="section-title">
        <h2>
          Trending<br>movies<br>to watch now
        </h2>
        <p class="text-muted">Most watched movies by day</p>
      </div>
    </div>
    <div class="col-md-2 position-relative" *ngFor="let movie of trendingMovies">
      <div class="item">
        <img [src]="imagePrefix+movie.poster_path" alt="" class="img-fluid">
        <h5>{{movie.title}}</h5>
        <div class="position-absolute top-0 end-0 p-2 bg-info">{{movie.vote_average}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex align-items-center">
      <div class="section-title">
        <h2>
          Trending<br>TV shows<br>to watch now
        </h2>
        <p class="text-muted">Most watched TV shows by day</p>
      </div>
    </div>
    <div class="col-md-2 position-relative" *ngFor="let movie of trendingTv">
      <div class="item">
        <img [src]="imagePrefix+movie.poster_path" alt="" class="img-fluid">
        <h5>{{movie.name}}</h5>
        <div class="position-absolute top-0 end-0 p-2 bg-info">{{movie.vote_average}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex align-items-center">
      <div class="section-title">
        <h2>
          Trending<br>People<br>to watch now
        </h2>
        <p class="text-muted">Most watched People by day</p>
      </div>
    </div>
    <!-- movie.profile_path ? imagePrefix+movie.profile_path : '../../assets/person.jpg' -->
    <div class="col-md-2 position-relative" *ngFor="let movie of trendingPeople">
      <div class="item">
        <img [src]="movie.profile_path" alt="" class="img-fluid">
        <h5>{{movie.name}}</h5>
        <div class="position-absolute top-0 end-0 p-2 bg-info">{{movie.popularity}}</div>
      </div>
    </div>
  </div>
</div>
